body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%; /* Adjust the width as desired */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
    background-color: #f0f0f0; /* Set a background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for smaller screens */
    }
}
